
body {
     font-size: 15px;
     font-family: font-family: Copperplate,"Copperplate Gothic Light",fantasy;
}

.image {
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header {
    position: fixed;
    top: 0px;
    width: 99%;
    height: 60px;
    background-color: white;
}

.headerline {
    position: fixed;
    top: 60px;
    width: 99%;
    height: 2px;
    border: 0;
    background-color: #B6B489;
    margin: 0px 0px 0px 0px;
}

.menubar {
    float: right;
    margin: 17px 20px 10px 10px;
    font-size: 15px;
}

.menuitem a {
    font-size: 15px;
    padding-right: 10px;
    text-decoration: none;
    color:black;
}

.menuitem a:hover{
    color: #B6B489;
}

.menutitle {
    float: left;
    margin: 15px 10px 10px 40px;
    font-size: 17px;
    font-weight: bold;
    font-family: Papyrus, fantasy;
}

.content {
    margin-top: 141px;
    width: 100%;
}

.footer {
    width: 100%;
    background: white;
    height: 30px;
}

.footerline {
    width: 100%;
    height: 2px;
    border: 0;
    background-color: #B6B489;
    margin: 20px 0px 0px 0px;
}

.footerbar {
    float: right;
    margin: 7px 20px 4px 4px;
    font-size: 13px;
}

#big_title_sct {
    font-family: Papyrus, fantasy;
    font-size: 37px;
    text-align: center;
    margin-bottom: 10px;
    background: rgb(231,230,216);
    padding: 40px;
}

#expl_in_main_window {
    background: white;
    padding: 40px;
}

#expl2_in_main_window {
    padding: 40px;
    background-color: white;
}

.questions {
    margin-top: 10px;
}

.separateline {
    width: 99%;
    height: 2px;
    border: 0;
    background-color: #B6B489;
    margin: 0px 0px 0px 0px;
}

#learnmore {
    border: 7px solid rgb(231,230,216);
    padding: 0px;
}

#learnmore a {
    font-size: 15px;
    text-decoration: none;
    color:red;
}

#learnmore a:hover {
    background-color: rgb(231,230,216);
    font-size: 15px;
    text-decoration: none;
    color:red;
}

.doc_h1 {
    font-size: 22px;
    font-weight: bold;
    padding-left: 30px;
    padding-top: 15px;
}
.doc_h1::before {
    display: block;
    content: " ";
    height: 105px;
    margin-top: -60px;
    visibility: hidden;
}

.doc_h2 {
    font-size: 21px;
    padding-left: 35px;
    padding-top: 12px;
}
.doc_h2::before {
    display: block;
    content: " ";
    height: 107px;
    margin-top: -60px;
    visibility: hidden;
}

.doc_h3 {
    font-size: 17px;
    font-style: oblique;
    padding-left: 40px;
    padding-top: 10px;
}
.doc_h3::before {
    display: block;
    content: " ";
    height: 109px;
    margin-top: -60px;
    visibility: hidden;
}

.content_doc_h1 {
    font-size: 17px;
    font-weight: bold;
    padding-top: 6px;
    padding-left: 30px;
}

.content_doc_h2 {
    font-size: 17px;
    padding-top: 4px;
    padding-left: 40px;
}

.content_doc_h3 {
    font-size: 15px;
    font-style: oblique;
    padding-top: 2px;
    padding-left: 50px;
}

.doc_section1 {
    padding-left: 10px;
    padding-top: 10px;
}

.doc_bulletpoint1 {
    padding-left: 50px;
    padding-top: 4px;
}

.doc_bulletpoint2 {
    padding-left: 70px;
    padding-top: 4px;
}

.doc_bulletpoint3 {
    padding-left: 90px;
    padding-top: 4px;
}

.subtitle {
     padding-top: 30px;
     padding-bottom: 30px;
     padding-left: 10px;
     font-size: 22px;
     font-weight: bold;
}


.subsubtitle {
     padding-top: 20px;
     padding-bottom: 10px;
     padding-left: 10px;
     font-size: 20px;
}

.section1 {
    padding-left: 10px;
    padding-top: 10px;
}
