<script>
    $( document ).ready(function() {
        var dNow = new Date();
        var localdate= (dNow.getMonth()+1) + '/' + dNow.getDate() + '/' + dNow.getFullYear() + ' ' + dNow.getHours() + ':' + dNow.getMinutes();
        $('#currentDate').text(dNow.toLocaleString())
    });
</script>

<hr class="footerline">
<div class="footer">
    <span class="footerbar" id="currentDate"></span>
    <span class="footerbar">Page generation time:</span>
</div>
